<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="container">
    <a class="navbar-brand fw-bold text-white" href="#">Med-Getir</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" routerLink="/eczane"> =>Eczaneler</a>
        </li>
      </ul>
    </div>

    <a routerLink="/login" class="btn btn-outline-danger text-white border">
      <i class="fas fa-user-circle"></i>
      Giriş Yap
    </a>
    <a routerLink="/eczane-kayit" class="btn btn-outline-danger text-white border ms-2">
      <i class="fas fa-notes-medical"></i>
      Eczane Kayıt
    </a>
    <a routerLink="/user-kayit" class="btn btn-outline-danger text-white border ms-2">
      <i class="fas fa-user-plus"></i>
      Kullanıcı Kayıt
    </a>

  </div>
</nav>
