<div class="container" id="user-eczane-kayit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Kayıt</h5>
      </div>
      <div class="modal-body">

        <form [formGroup]="kayitUser" (ngSubmit)="userKayit(kayitUser.value)">
          <div class="form-group d-flex row mt-3 ad">
            <div class="col-sm-4">
              <span class="col-sm-2 col-form-label">Ad</span>
            </div>
            <div class="col-sm-8">
              <input type="text" formControlName="userName" class="form-control" placeholder="Ad">
            </div>
          </div>
          <div class="form-group d-flex row mt-2 soyad">
            <div class="col-sm-4">
              <span class="col-sm-2 col-form-label">Soyad</span>
            </div>
            <div class="col-sm-8">
              <input type="text" formControlName="userSurname" class="form-control" placeholder="Soyad">
            </div>
          </div>
          <div class="form-group d-flex row mt-2 tel">
            <div class="col-sm-4">
              <span class="col-sm-2 col-form-label">Telefon</span>
            </div>
            <div class="col-sm-8">
              <input type="text" formControlName="userPhone" class="form-control" placeholder="+90">
            </div>
          </div>
          <div class="form-group d-flex row mt-2 date">
            <div class="col-sm-4">
              <span class="col-sm-2 col-form-label">Dogum Yılı</span>
            </div>
            <div class="col-sm-8">
              <input type="text" formControlName="userBirthDay" class="form-control" placeholder="....">
            </div>
          </div>
          <div class="form-group d-flex row mt-2 tckn">
            <div class="col-sm-4">
              <span class="col-sm-2 col-form-label">TCKN</span>
            </div>
            <div class="col-sm-8">
              <input type="text" formControlName="userTCKN" class="form-control" placeholder="TCKN">
            </div>
          </div>
          <div class="form-group d-flex row mt-2 pass">
            <div class="col-sm-4">
              <span class="col-sm-2 col-form-label">Şifre</span>
            </div>
            <div class="col-sm-8">
              <input type="password" formControlName="userPassword" class="form-control" placeholder="Şifre">
            </div>
          </div>
          <div class="form-group d-flex row mt-2 repass">
            <div class="col-sm-4">
              <span class="col-sm-2 col-form-label">Şifre Tekrar</span>
            </div>
            <div class="col-sm-8">
              <input type="password" formControlName="userRepassword" class="form-control" placeholder="Şifre Tekrar">
            </div>
          </div>
          <div class="modal-footer">
            <button [disabled]="kayitUser.invalid" class="btn btn-danger">User Kayıt</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
