<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="/assets/img/2.png" class="img-fluid" style="width: 190px; height: 190px;" alt=""/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            İsim Soyisim
          </h5>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                 aria-selected="true">Hakkında</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                 aria-selected="false">Oyun Listesi</a>
            </li>
          </ul>


        </div>
      </div>


      <div class="col-md-8 ms-5">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Kullanıcı Id</label>
              </div>
              <div class="col-md-6">
                <p>12455</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>İsim</label>
              </div>
              <div class="col-md-6">
                <p>Ali Kaya</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>kshitighelani@gmail.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Telefon</label>
              </div>
              <div class="col-md-6">
                <p>123 456 7890</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>NickName</label>
              </div>
              <div class="col-md-6">
                <p>Web Developer and Designer</p>
              </div>
            </div>
            <div class="row ">

            </div>

            <button class="btn btn-outline-primary">Profili Düzenle</button>
            <button class="btn btn-outline-primary ms-2">Profili Sil</button>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Experience</label>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Hourly Rate</label>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Total Projects</label>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <label>English Level</label>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Availability</label>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </form>
</div>
