<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/profiles">Profiller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user-detail">User-detail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/store">store</a>
        </li>
      </ul>
    </div>

    <a class="navbar-brand" href="#">
      <img src="/assets/img/2.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <div class="badge bg-secondary text-wrap" style="width: 10rem;">
        Change The Game
      </div>
      <img src="/assets/img/2.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a>

  </div>
</nav>
