<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">STORE</h5>
        <div class="row">
             <!-- Team member -->
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/unicornnn.jpg" alt="card image"></p>
                                    <h4 class="card-title">Unicorn Dress Up</h4>
                                    <p class="card-text"></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Unicorn Dress Up</h4>
                                    <p class="card-text">
                                        En sevdiğin unicornu giydirebilir, süsleyebilir ve renklendirebilirsin!
                                         Bu oyunda özelleştirilmiş renklerle kendi tek boynuzlu atınızı yaratabilirsiniz</p>
                                    <p style="color: blue;">49,90</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/csgo.jpg" alt="card image"></p>
                                    <h4 class="card-title">Counter-Strike: Global Offensive</h4>
                                    <p class="card-text"></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Counter-Strike: Global Offensive</h4>
                                    <p class="card-text">Counter-Strike: Global Offensive ya da bilinen kısa adıyla CS:GO, Valve ve Hidden Path Entertainment tarafından geliştirilen çevrimiçi birinci şahıs nişancı oyunudur. Counter-Strike serisinin dördüncü oyunudur.</p>
                                    <ul class="list-inline">
                                        <p style="color: blue;">49,90</p>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/FORZA.jpg" alt=""></p>
                                    <h4 class="card-title">Forza Horizon 4</h4>
                                    <p class="card-text"></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Forza Horizon 4</h4>
                                    <p class="card-text">Forza Horizon 4, 2018 yılında Playground Games tarafından geliştirilen ve Microsoft Studios tarafından yayınlanan bir yarış video oyunudur.</p>
                                    <ul class="list-inline">
                                        <p style="color: blue;">49,90</p>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/bratzz.jpg" alt="card image"></p>
                                    <h4 class="card-title">Bratz Makyaj </h4>
                                    <p class="card-text"></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Bratz Makyaj</h4>
                                    <p class="card-text">Yasmin, Jade, sasha, cloe kızlarından birini seçerek bu özellikleri kullanmanızı sağlayan bir oyun olmaktadır. Makyaj öncesinde mutlaka cildini yıkayıp, duyuluyoruz. Sonrasında ise tamamen kendi hayal gücünüze bağlı olarak makyaj yapmaya başlayabilirsiniz. </p>
                                    <ul class="list-inline">
                                        <p style="color: blue;">49,90</p>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/CYBER.jpg" alt="card image"></p>
                                    <h4 class="card-title">Cyberpunk</h4>
                                    <p class="card-text"></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Cyberpunk</h4>
                                    <p class="card-text">Cyberpunk, CD Projekt Red tarafından geliştirilen ve CD Projekt yayınlanan 2020 rol yapma türündeki video oyunudur. Cyberpunk serisinden uyarlanan oyun, altı farklı bölgeye sahip distopik açık dünya olan Night City'de geçmektedir.</p>
                                    <ul class="list-inline">
                                        <p style="color: blue;">49,90</p>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/gta.jpg" alt="card image"></p>
                                    <h4 class="card-title">Grand Theft Auto V</h4>
                                    <p class="card-text"></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Grand Theft Auto V</h4>
                                    <p class="card-text">Grand Theft Auto V, Rockstar North tarafından geliştirilen ve Rockstar Games tarafından yayımlanan 2013 tarihli açık uçlu aksiyon-macera tarzı bir video oyunudur.</p>
                                    <ul class="list-inline">
                                        <p style="color: blue;">49,90</p>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/hun.webp" alt="card image"></p>
                                    <h4 class="card-title">Hunt: Showdown</h4>
                                    <p class="card-text"></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Hunt: Showdown</h4>
                                    <p class="card-text">Crytek tarafından geliştirilen ve yayınlanan bir birinci şahıs nişancı video oyunudur. Steam'de 22 Şubat 2018'de erken erişimde ve Xbox Game Preview için 29 Mayıs 2019'da piyasaya sürüldü.</p>
                                    <ul class="list-inline">
                                        <p style="color: blue;">49,90</p>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/fal.jpg" alt="card image"></p>
                                    <h4 class="card-title">Fall Guys: Ultimate Knockout</h4>
                                    <p class="card-text"></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Fall Guys: Ultimate Knockout</h4>
                                    <p class="card-text">Devolver Digital Games tarafından geliştirilen ve yayınlanan çevrimiçi olarak oynanan çok oyunculu bir video oyunudur. Microsoft Windows ve PlayStation 4 için 16 Mayıs 2018'de E3'te ilan edildi ve 31 Temmuz 2020'de piyasaya sürüldü. </p>
                                    <ul class="list-inline">
                                        <p style="color: blue;">49,90</p>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/img/asas.jpg" alt="card image"></p>
                                    <h4 class="card-title">Assassin's Creed </h4>
                                    <p class="card-text"></p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Assassin's Creed</h4>
                                    <p class="card-text">Assassin's Creed , aksiyon-macera türü tarihsel, video oyunu serisidir. Oyun açık dünya ve gizlilik öğeleri içerir.</p>
                                    <ul class="list-inline">
                                        <p style="color: blue;">49,90</p>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->
