<div class="container">
  <div class="row">
    <div class="col-6">
      <form class="login-form" [formGroup]="createUserForm" (ngSubmit)="create(createUserForm.value)">

        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Profil Kayıt</h5>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Ad</label>
              <input type="text" class="form-control" formControlName="kullaniciAd" placeholder="Ad">
            </div>
            <div class="mb-3">
              <label class="form-label">Soyad</label>
              <input type="text" class="form-control" formControlName="kullaniciSoyad" placeholder="Soyad">
            </div>
            <div class="mb-3">
              <label class="form-label">Nickname</label>
              <input type="text" class="form-control" formControlName="kullaniciNick" placeholder="Nickname">
            </div>
            <div class="mb-3">
              <label class="form-label">Şifre</label>
              <input type="text" class="form-control" formControlName="kullaniciSifre" placeholder="*******">
            </div>
            <div class="mb-3">
              <label class="form-label">Dogum Tarihi</label>
              <input type="date" class="form-control" formControlName="kullaniciDT" placeholder="Doğum Tarihi">
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" [disabled]="createUserForm.invalid">Kayıt ol</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

