
<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="card" *ngFor="let ecz of eczane">
        <img src="..." class="card-img-top img-fluid" alt="Eczane Resim">
        <div class="card-body">
          <h5 class="card-title">{{ecz.name}}</h5>
          <p class="card-text mb-3">{{ecz.id}}</p>
          <p class="card-text mb-3">{{ecz.phone}}</p>
          <p class="card-text mb-3" *ngIf="!ecz.kategori">Nöbetçi Değil</p>

          <button (click)="deletePost(ecz)" class="btn btn-danger">DELETE</button>
        </div>
      </div>
    </div>
  </div>
</div>

