.form-control.ng-touched.ng-invalid {
  border-left: 5px solid #a94442;
}
.form-control.ng-dirty.ng-valid {
  border-left: 5px solid #42a948;
}
.form-select.ng-touched.ng-invalid {
  border-left: 5px solid #a94442;
}
.form-select.ng-dirty.ng-valid {
  border-left: 5px solid #42a948;
}
