<div class="container">
  <div class="row">
    <div class="col-md-4 login-sec">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="container-fluid">

          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        </div>
      </nav>
      <h2 class="text-center">Giriş</h2>

      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
          <label  class="text-uppercase">Kullanıcı Adı</label>
          <input type="text" class="form-control" placeholder="Kullanıcı Adı" formControlName="name">
        </div>
        <div class="form-group">
          <label  class="text-uppercase">Şifre</label>
          <input type="password" class="form-control" placeholder="Şifre" formControlName="password">
        </div>
        <div class="form-check">

          <button type="submit" [disabled]="loginForm.invalid" class="btn btn-outline-primary float-right ms-3">
            Giriş
          </button>
          <button type="submit" routerLink="/profile-create" class="btn btn-outline-primary float-right ms-3">
            Kayıt ol
          </button>
        </div>

      </form>
      <div class="copy-text mt-4">Created with <i class="fa fa-heart"></i> by UNICORN</div>

    </div>
    <div class="col-md-8 banner-sec">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="/assets/img/gta5.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="banner-text">
                <h2>159.90TL</h2>
                <p>Aksiyon Dolu Savaş Oyunu</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/img/assas.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="banner-text">
                <h2>79.90TL</h2>
                <p>Aksiyon Dolu Savaş Oyunu</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/img/pubg.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="banner-text">
                <h2>119.90TL</h2>
                <p>Aksiyon Dolu Savaş Oyunu</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

