<div class="container" id="user-eczane-kayit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eczane Kayıt</h5>
      </div>
      <div class="modal-body">

        <form [formGroup]="kayitEczane" (ngSubmit)="eczaneKayit(kayitEczane.value)">
          <div class="form-group d-flex row mt-3 ecAd">
            <div class="col-sm-4">
              <span class="col-sm-2 col-form-label">Eczane Adı</span>
            </div>
            <div class="col-sm-8">
              <input type="text" formControlName="name" class="form-control" placeholder="Eczane Adı">
            </div>
          </div>
          <div class="form-group d-flex row mt-2 tel">
            <div class="col-sm-4">
              <span class="col-sm-2 col-form-label">Telefon</span>
            </div>
            <div class="col-sm-8">
              <input type="text" formControlName="phone" class="form-control" placeholder="+90">
            </div>
          </div>
          <div class="form-group d-flex row mt-2 kategori">
            <div class="col-sm-4">
              <span class="col-sm-2 col-form-label">Kategori</span>
            </div>
            <div class="col-sm-8">
                <input type="checkbox" id="checkbox" formControlName="kategori">
                <label for="checkbox">Nöbetçi</label>
            </div>
          </div>
          <div class="form-group d-flex row mt-2 pass">
            <div class="col-sm-4">
              <label class="col-sm-2 col-form-label">Şifre</label>
            </div>
            <div class="col-sm-8">
              <input type="password" formControlName="password" class="form-control" placeholder="Şifre">
            </div>
          </div>
          <div class="form-group d-flex row mt-2 repass">
            <div class="col-sm-4">
              <label class="col-sm-2 col-form-label">Şifre Tekrar</label>
            </div>
            <div class="col-sm-8">
              <input type="password" formControlName="repassword" class="form-control" placeholder="Şifre Tekrar">
            </div>
          </div>
          <div class="modal-footer">
            <button [disabled]="kayitEczane.invalid" class="btn btn-danger">Kayıt Ol</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
