<div class="container" id="login">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">MED-GET Giriş Yap</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="girisForm" (ngSubmit)="login()">
              <div class="form-group row tel">
                <span class="col-sm-2 col-form-label">Telefon</span>
                <div class="col-sm-10">
                  <input type="text" formControlName="girisPhone"  class="form-control" placeholder="+90">
                </div>
              </div>
              <div class="form-group row my-2 pass">
                <span class="col-sm-2 col-form-label">Şifre</span>
                <div class="col-sm-10">
                  <input type="password" formControlName="girisPassword" class="form-control">
                </div>
              </div>

              <div class="modal-footer">
                <a href="#">
                  Şifremi unuttum
                </a>
                <button [disabled]="girisForm.invalid" class="btn btn-danger text-white">Giriş Yap</button>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
